<#macro DefaultLayout title="Layout example">
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>${title}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="/assets/webjars/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet">
  </head>
<body>
<#include "header.ftl.html"/>
<#nested/>
<#include "footer.ftl.html"/>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script type="text/javascript" src="/assets/webjars/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>
</#macro>